body,
html {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.mainContent {
    min-height: 100vh;
    background-image: url(../assets/images/renovate.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    z-index: 1;
    overflow: hidden;
}

.mainContent:after {
    content : '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: .5;
    background-color: black;
    filter: blur(5px);
    
}

.mainContent__inner {
    width: 1000px;
    max-width: 100%;
    height: auto;
    background-color: rgba(255,255,255, .9);
    padding: 20px;
    margin: 25px;
    border-radius: 10px;
    z-index: 1;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.09);
}

.mainContent__inner h1 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 30px;
}

/* sidebar */

.js-side-toggler {
    position: absolute;
    right: -65px;
    opacity: 1;
    transform: translateX(0);
    background-color: red;
    color: white;
    text-transform: uppercase;
    font-weight: bolder;
    transform: rotate(90deg);
    z-index: 1;
    padding: 20px;
    cursor: pointer;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    transition-property: opacity, transform;
    transition-timing-function: ease;
    transition-duration: 300ms;
}

.js-side-toggler:hover {
    background-color: rgb(200, 0, 0);
}

.js-side-toggler--inactive {
    transform: translateX(100%) rotate(90deg);
    opacity: 0;
}

.sideContent {
    position: absolute;
    right: 0;
    opacity: 0;
    transform: translateX(100%);
    min-width: 200px;
    background-color: red;
    color: white;
    padding: 20px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    z-index: 1;
    transition-property: opacity, transform;
    transition-timing-function: ease;
    transition-duration: 300ms;
}

.sideContent.js-active {
    opacity: 1;
    transform: translateX(0);
}

.sideContent__inner {
    
}

.sideContent__list {
    columns: 2;
    padding: 0;
    margin: 0;
}

.sideContent__list li {
    list-style-type: none;
    margin-bottom: 5px;
}

.sideContent__list li a {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
}

#specialist_contents {
    opacity: 0;
    transform: translateX(100%);
    position: fixed;
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    top: 20px;
    left: 20px;
    background-color: rgba(255,255,255, .9);
    padding: 20px;
    border-radius: 10px;
    transition-property: opacity, transform;
    transition-timing-function: ease;
    transition-duration: 300ms;
}

@media screen and (min-width: 768px){
    #specialist_contents {
        width: calc(100% - 400px);
        height: calc(100% - 100px);
        left: 200px;
        top: 50px;
    }
}

#specialist_contents.js-active {
    opacity: 1;
    transform: translateX(0);
    z-index: 10;
}

#specialist_contents .close {
    position: absolute;
    right: 20px;
    top: 20px;
    width: 10px;
    height: 10px;
    color: black;
    font-weight: bolder;
    cursor: pointer;
}


/* form */

.asterisk {
    color: red;
}

input[type="submit"]{
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
    display: block;
    width: 100%;
}

.js-terms,
.js-permissions {
    display: none;
}

.js-terms--active,
.js-permissions--active {
    display: block;
}
